<footer>
  <div class="f-info-socials">
    <!-- LinkedIn -->
    <i class="fa-brands fa-square-linkedin"></i>

    <!-- Facebook -->
    <i class="fa-brands fa-square-facebook"></i>

    <!-- Instagram -->
    <i class="fa-brands fa-square-instagram"></i>
  </div>
  
  <div>&copy; Wanderlust Private Limited</div>
  
  <div class="f-info-links">
    <a href="/privacy">privacy</a>
    <a href="/terms">terms</a>
  </div>
</footer>