<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 shadow-sm sticky-top" >
  <div class="container-fluid">
    <!-- Logo with brand -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="fa-solid fa-compass me-2"></i> WanderLust
    </a>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex align-items-center">
        <a class="nav-link ms-3" href="/">
          <i class="fa-solid fa-house me-1"></i> Home
        </a>
        <a class="nav-link ms-3" href="/listings">
          <i class="fa-solid fa-list me-1"></i> All Listings
        </a>
        <a class="nav-link ms-3" href="/listings/new">
          <i class="fa-solid fa-plus me-1"></i> New Listing
        </a>
      </div>
    </div>
  </div>
</nav>
